.code-parser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#parser-form {
    display: flex;
    flex-direction: column;
}
#parser-form, .ta-input, .ta-output {
    width: 100%;
}