@import url("https://cdn.jsdelivr.net/npm/katex@0.15.0/dist/katex.min.css");

.mdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mdown-contents {
    width: 75%;
    max-width: 1068px;
}