.circ-sim {
  display: flex;
  width: 50%;
  height: 50%;
  margin: auto;
  transform: translateY(50%);
}

.csim-md {
  margin: auto;
  width: 50%;
  height: 450px;
}

.circ-sim iframe, .csim-md iframe {
  height: 100%;
  width: 100%;
}